<!DOCTYPE html>
<html lang="en">

<head>
	<title>Schmittatze - FRIDOLIN IS WATCHING YOU!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Fridolin Schmitt - Miau, miau, miau miau, miaaauuuu!!!!">
	<meta name="keywords" content="Flauschigkeit, Marketing, Stuttgart, Waiblingen, Esslingen, Böblingen, 
	  Ludwigsburg, Backnang, Leonberg, Katze, Fellknäuel, Massekater, Pussy, 
	  Out of the box, ungewöhnlich, Quereinsteiger, Scrum, Produktowner, Agil, Agilität, Optimierung">
	<meta property="og:title" content="Schmittatze - Flauschigkeit ist meine Leidenschaft!">
	<meta property="og:description" content="Schmittatze - Flauschigkeit ist meine Leidenschaft!">
	<meta property="og:image" itemprop="image" content="../images/fridolin.jpg">
	<meta property="og:url" content="http://schmittatze.de">
	<link rel="icon" type="assets/jpeg" href="../images/fridolin.jpg">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

	<link rel="stylesheet" href="../css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="../css/animate.css">

	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/owl.theme.default.min.css">
	<link rel="stylesheet" href="../css/magnific-popup.css">

	<link rel="stylesheet" href="../css/aos.css">

	<link rel="stylesheet" href="../css/ionicons.min.css">

	<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="../css/jquery.timepicker.css">


	<link rel="stylesheet" href="../css/flaticon.css">
	<link rel="stylesheet" href="../css/icomoon.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
			<h1 id="colorlib-logo"><a href="../index.php">Schmittatze</a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li><a href="../index.php">Home</a></li>
					<li class="colorlib-active"><a href="galerie.html">Galerie</a></li>
					<li><a href="kontakt.html">Kontakt</a></li>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<h5>Social Media</h5>
				<div class="d-flex justify-content-center">
					<ul class="d-flex align-items-center">
						<li class="d-flex align-items-center jusitfy-content-center"><a
								href="https://www.instagram.com/furriouscat/" target="_blank"><i
									class="icon-instagram"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate">
							<h3 class="mb-3 bread">Vielen Dank für die Kontaktaufnahme!</h3>
							<p>
								Fridolin meldet sich gerne in Kürze bei Ihnen. Miau!
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section-2">
				<img class="fridolin_pages" src="../images/fridolin_thanks.jpg" />
			</section>
			<footer class="ftco-footer ftco-bg-dark ftco-section">
				<div class="container px-md-5">
					<div class="row mb-5">
						<div class="col-md">
							<div class="ftco-footer-widget mb-4">
								<h2 class="ftco-heading-2">Haben Sie sonst noch Fragen?</h2>
								<p>
									Falls Fridolin Ihnen nicht weiterhelfen konnte, können Sie sich auch gerne an seine
									Eltern wenden.
								</p>
								<div class="block-23 mb-3">
									<ul>
										<li><a href="mailto:marcel.schmitt@schmittformatik.de"><span
													class="icon icon-envelope"></span><span
													class="text">marcel.schmitt@schmittformatik.de</span></a></li>
										<li><a href="mailto:sabine.schmitt@manageschittment.de"><span
													class="icon icon-envelope"></span><span
													class="text">sabine.schmitt@manageschmittment.de</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Das ursprüngliche Design stammt von <a href="https://colorlib.com"
									target="_blank">Colorlib.</a>
								Für die Verwendung auf dieser Seite wurde es abgeändert.
								<br />
								Es wurde ausschließlich für diese Seite verwendet.
							</p>
							<p>
								Diese Seite verwendet keine Cookies.
								<br />
								2019
								<br />
								<br />
								<a href="http://www.manageschmittment.de" target="_blank">manageschmittment.de</a>
								<br />
								<a href="http://www.schmittformatik.de" target="_blank">schmittformatik.de</a>
								<br />
								<a href="http://www.schmittatze.de" target="_blank">schmittatze.de</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>



	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-migrate-3.0.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
	<script src="../js/jquery.waypoints.min.js"></script>
	<script src="../js/jquery.stellar.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/jquery.magnific-popup.min.js"></script>
	<script src="../js/aos.js"></script>
	<script src="../js/jquery.animateNumber.min.js"></script>
	<script src="../js/bootstrap-datepicker.js"></script>
	<script src="../js/scrollax.min.js"></script>
	<script src="../js/main.js"></script>


</body>

</html>